<br>
<br>
<h2>Add a new case</h2>
<form (ngSubmit)="onSubmit(newCaseForm.value)" #newCaseForm="ngForm" >
    <label for="new-case">Case name: </label>
    <input name = "insured_name" id="insured_name" ngModel />
    <label>Inception date:</label>
    <input type= "date" name = "inception_date" id="inception_date"  ngModel />
    <label>Expiry date.</label>
    <input type= "date" name = "expiry_date" id="expiry_date" ngModel/>
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="submit" class="add-button">
      Add case
    </button>
</form>


<br>
<table>
    <tr>
        <th>Case ID</th>
        <th>Insured Name</th>
        <th>Created</th>
        <th>Underwriting Year</th>
    </tr>
    <tr *ngFor="let case of cases_list">

        <td>{{ case.case_id }}</td>
        
        <a routerLink="/overview/{{case.case_id}}">
        <td>{{ case.insured_name }}</td>
        </a>
        
        <td>{{ case.created | date: 'mediumDate' }}</td>
    </tr>
</table>




