{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ case['insured_name'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ case['created'] }}</span>
    <p>Layer name: {{ case['layer_name'] }}</p>
    <p>Frequency: {{ case['frequency'] }}</p>
    <p>Severity Loss: {{ case['severity'] }}</p>
    <p>Target Loss Ratio: {{ case['target_loss_ratio'] }}</p>
    <p>Expected Loss: {{ case['expected_loss'] }}</p>
    <p>Technical Premium: {{ case['technical_premium'] }}</p>

    <a href="{{ url_for('edit', id=case['id']) }}">
        <span class="badge badge-warning">Edit</span>
    </a>
{% endblock %}