{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ case['insured_name'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="insured_name">Insured Name</label>
        <input type="text" name="insured_name" placeholder="Case name"
               class="form-control"
               value="{{ request.form['insured_name'] or case['insured_name'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="inception_date">Inception Date</label>
        <input type="date" name="inception_date" placeholder="Inception Date"
               class="form-control"
               value="{{ request.form['inception_date'] or case['inception_date'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="expiry_date">Expiry Date</label>
        <input type="date" name="expiry_date" placeholder="Expiry Date"
               class="form-control"
               value="{{ request.form['expiry_date'] or case['expiry_date'] }}">
        </input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', case_id=case['case_id']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this case?')">
</form>
{% endblock %}