{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Simple Calculator {% endblock %}</h1>

    <table>
        <tr>
            <th>Insured Name</th>
            <th>Created</th>
            <th>Edit</th>
        </tr>
        {% for case in cases%}
        <tr>
            <td>
                <a href="{{ url_for('case', case_id=case['id']) }}">
                <h2>{{ case['insured_name'] }}</h2>
                </a>
            </td>
            <td>
                <span class="badge badge-primary">{{ case['created'] }}</span>
            </td>
            <td>
                <a href="{{ url_for('edit', id=case['id']) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </td>
        </tr>
        <hr>
        {% endfor %}
    </table>
{% endblock %}